
* {
  margin-top: 10px;
  font-family: "Anton", sans-serif;
  color:black;
  text-decoration: none;
}

.home {
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.home-image {
  width: 10%;
}

.home-button {
  padding: 0 0 0 20px;
}

.pokemon-details {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}

.pokemon-details li {
  list-style-type: none;
}

.pokemon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.pokemon-list .pokemon-list-item {
  color: black;
  text-decoration: none;
  width: 15%;
  margin: 10px 20px 0 0;
}